form {
  display: flex;
  margin: 0 auto;
  padding: 24px 40px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  max-width: 50%;
  border-radius: 6px;
  box-shadow: -1px -1px 20px;
  background-color: #eee;
}

button[type="submit"] {
  margin: 30px auto;
  padding: 10px 12px;
  align-self: center;
  font-size: 16px;
  text-transform: uppercase;
  flex: 1 0 100%;
  width: 30%;
  border: none;
  border-radius: 4px;
  border-bottom: 4px solid #1bd6a7;
  background-color: #1de9b6;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 80px;
}

h2 {
  margin-top: 70px;
}
