html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 170%;
  letter-spacing: 1.18;
  font-family: "Gothic A1", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

h1,
h2 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  letter-spacing: 0.05rem;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a,
a:visited,
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #333;
}

input[type="button"] {
  outline: none;
}

.container {
  margin: 40px 60px;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

a.button-green {
  margin: 0;
  padding: 16px 24px 12px 24px;
  border-radius: 4px;
  border-bottom: 4px solid #1bd6a7;
  background-color: #1de9b6;
  color: #fff;
  font-weight: bold;
}

a.button-blue {
  margin: 0;
  padding: 16px 24px 12px 24px;
  border-radius: 4px;
  background-color: #00b0ff;
  border-bottom: 4px solid #329fd1;
  color: #fff;
  font-weight: bold;
}

[class*="button-"]:hover {
  color: #eee;
}
