nav {
  width: 100%;
}

nav > ul {
  margin: 0;
  display: inline-block;
}

nav > ul > li {
  display: inline-block;
  padding: 35px 20px;
  font-size: 14px;
  letter-spacing: 0.045rem;
  list-style-type: none;
  text-transform: uppercase;
}

nav > ul:nth-child(2) > li:nth-last-child(1),
nav > ul:nth-child(2) > li:nth-last-child(2) {
  padding: 35px 0;
}

nav > ul:nth-child(2) > li:nth-last-child(1) {
  padding-right: 20px;
}

nav > ul:nth-child(2) {
  float: right;
}
