.recommendations__container {
  display: flex;
  flex-wrap: wrap;
  float: right;
  padding-left: 80px;
  border-left: 1px solid #aaa;
}

.video-recommendation__container {
  display: inline-block;
  flex: 1 0 100%;
  margin: 10px;
  float: right;
  cursor: pointer;
}

.video-recommendation__container > span {
  display: block;
  color: #797979;
  font-size: 12px;
  font-family: sans-serif !important;
}

.video-recommendation {
  display: inline-block;
  float: left;
  margin-right: 8px;
  max-width: 128px;
  height: auto;
}

.video-recommendation__title {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 4px;
}
